<div class="background_desktop">
    <div class="blink_header_desktop">
      <h1>BLINK <%= image_tag("logo-blink.svg", height:"33.6", width:"102.19", alt:"vector") %></h1>
    </div>

    <div class="motto_desktop">
      <h3>Show your eyes <br> some love</h3>
    </div>

  <div class="desktop_header_links">

      <div class="title-underlined mr-4">
        <%= link_to "SIGN UP", new_user_registration_path, class: "title" %>
      </div>

      <div class="title-underlined">
        <%= link_to "LOGIN", new_user_session_path, class: "title" %>
      </div>

  </div>

<%= simple_form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
  <div class="form-inputs">
    <%= f.input :email,
                required: false,
                autofocus: true,
                input_html: { autocomplete: "email" } %>
    <%= f.input :password,
                required: false,
                input_html: { autocomplete: "current-password" } %>
    <%= f.input :remember_me, as: :boolean if devise_mapping.rememberable? %>
  </div>

  <div class="form-actions">
    <%= f.button :submit, "Log in" %>
  </div>
<% end %>

