<div class="background_desktop">

  <div class="desktop_header_links">

    <div class="title-underlined mr-4">
      <%= link_to "SIGN UP", new_user_registration_path, class: "title" %>
    </div>

    <div class="title-underlined">
      <%= link_to "LOGIN", new_user_session_path, class: "title" %>
    </div>

  </div>

  <div class="blink_header_desktop">
    <h1>BLINK <%= image_tag("logo-blink.svg", height:"33.6", width:"102.19", alt:"vector") %></h1>
  </div>

  <div class="motto_desktop">
    <h2>Show your eyes <br> some love</h2>
  </div>



  <div class="desktop_landing_grid">

    <div class="desktop-card">
      <div class="text-center">
       <%= image_tag("vectors/landingvector1.svg", height:"231", width:"146", alt:"vector") %>
      </div>

      <p>We spend a lot of time on screens. Unfortunately, the more time we spend looking at devices,
      the more susceptible we are to dry eyes. Screens reduce the amount we blink from an average of
      15 times a minute to around five.</p>
    </div>

    <div class="desktop-card">
      <div class="text-center">
        <%= image_tag("vectors/landingvector2.svg", height:"231", width:"146", alt:"vector") %>
      </div>

      <p>There are ways to combat dry eye symptoms. Research recommends taking a one minute break from looking at screens every 20 minutes.
      That’s why BLINK will send you a desktop notification letting you know it’s time to give your eyes a rest.</p>
    </div>

    <div class="desktop-card">
      <div class="text-center">
        <%= image_tag("vectors/landingvector3.svg", height:"231", width:"146", alt:"vector") %>
      </div>

      <p class="mb-5">There are ways to retrain your brain to blink more often.
      This is why BLINK keeps track of daily recommended blinking exercises to
      improve both eye health and habits. The tools to feel better are at your fingertips!</p>

    </div>
  </div>

  <div class="d-flex justify-content-center">
    <%= link_to "SIGN UP", new_user_registration_path, class:"desk-button button btn btn-outline-success mb-3" %>
  </div>

</div>
