<div class="background_desktop" style="background-image: url(<%= image_url 'backgrounds/desktopback.svg' %>)">

  <div class="desktop_header_links">

      <div class="title-underlined mr-4">
        <%= link_to "SIGN OUT", destroy_user_session_path, method: :delete, class:"title" %>
      </div>

  </div>

  <div class="blink_header_desktop">
    <h1>BLINK <%= image_tag("logo-blink.svg", height:"33.6", width:"102.19", alt:"vector") %></h1>
  </div>


  <div class="container-blink-desktop">


    <div class="d-flex justify-content-end">

        <div class="custom-control custom-switch card-blink toggle-button-container text-center eye-break">
          <p class="notification-title">EYE BREAK NOTIFICATION</p>
          <div class="toggle-div">
            <input type="checkbox" class="custom-control-input" id="switch-eye-break" <%= 'checked' if current_user.setting.eye_break_notification_active %>>
            <label class="custom-control-label" for="switch-eye-break"></label>
            <div hidden id='eye-break-notification-active'><%= current_user.setting.eye_break_notification_active %></div>
          </div>
        </div>

    </div>





    <!-- Tab links -->
    <div class="tabs-blink">
      <div class="tab-blink active clickable" onclick="window.openTabs(event, 'Journal')"><h3>JOURNAL</h3></div>
      <div class="tab-blink clickable" onclick="window.openTabs(event, 'Blinking Exercises')"><h3>BLINKING EXERCISES</h3></div>
      <div class="tab-blink clickable" onclick="window.openTabs(event, 'Resources')"><h3>RESOURCES</h3></div>
      <div class="tab-blink clickable" onclick="window.openTabs(event, 'Settings')"><h3>SETTINGS</h3></div>
    </div>

    <!-- Tab content -->
    <div id="Journal" class="tabcontent tabcontent-blink" style="display: block">

      <div id="dashboard">

        <div class="board-part">

          <div id="board" class="desktop" data-city="<%= current_user.city %>">

            <div class="board-top">

              <div class="board-section top-left">
                <div class="board-content temperature">
                  <div id="weather-temperature"></div>
                  <div id="weather-degrees">°C</div>
                </div>
                <div class="board-label">
                  TEMPERATURE
                </div>
              </div>

              <div class="board-section top-right">
                <div class="board-content">
                  <img id="weather-icon">
                </div>
                <div class="board-label">
                  <div id="weather-description"></div>
                </div>
              </div>

            </div>

            <div class="board-bottom">

              <div class="board-section bottom-left">
                <div class="board-content">
                  <%= image_tag (image_url('vectors/computer')), id:"computer-icon" %>
                  <div class="computer-time">
                    <% if @computer_time %>

                      <% nb_hrs = (@computer_time.minutes / 60).floor %>
                      <% nb_min = @computer_time.minutes % 60 %>
                      <p>
                        <span id="computer-time-hrs"><%= "#{nb_hrs}h" unless (nb_hrs.zero? && !nb_min.zero?) %></span><span id="computer-time-min"><%= "0" if (nb_min<10 && !nb_hrs.zero?) %><%= nb_min unless (nb_hrs.zero? && nb_min.zero?)%><%= "min" if (nb_hrs.zero? && !nb_min.zero?) %></span>
                      </p>

                    <% else %>
                      <p>0h</p>
                    <% end %>
                  </div>
                </div>
                <div class="board-label">
                  COMPUTER TIME
                </div>
              </div>

              <div class="board-section humidity bottom-right">
                <div class="board-content humidity">
                  <div id="weather-humidity"></div>
                  <%= image_tag (image_url('vectors/humidity')) %>
                </div>
                <div class="board-label">
                  HUMIDITY
                </div>
              </div>

            </div>

          </div>

        </div>


        <div class="routines">

          <% if @routine_morning %>

            <div class="routine">
                <div id="completed-morning">
                  <%= image_tag (image_url("vectors/completed#{"_not" unless @routine_morning.completed}")) %>
                </div>

                <% exercise_asset_path = "sounds/#{@routine_morning.exercise.title.downcase.split().join('-')}-#{@routine_morning.repetition}.wav" %>

                <div class="card-blink desktop card-routine desktop morning">
                  <div class="routine-header">
                    <h2> MORNING </h2>
                    <div class="play-btn-page-div">
                      <% exercise_asset_path = "sounds/#{@routine_morning.exercise.title.downcase.split().join('-')}-#{@routine_morning.repetition}.wav" %>
                      <div class="page__play-btn" data-sound="<%= image_url(exercise_asset_path) %>">
                        <i class='fas fa-play-circle'></i>
                      </div>
                    </div>
                  </div>
                    <div class="routine-infos">
                      <p><%= @routine_morning.exercise.title %></p>
                      <p><%= @routine_morning.repetition %> rep</p>
                    </div>
                </div>


            </div>
          <% end %>


          <% if @routine_night %>

            <div class="routine">
                <div id="completed-night">
                  <%= image_tag (image_url("vectors/completed#{"_not" unless @routine_night.completed}")) %>
                </div>

                <% exercise_asset_path = "sounds/#{@routine_night.exercise.title.downcase.split().join('-')}-1.wav" %>

                <div class="card-blink desktop card-routine night"
                        data-title='<%= @routine_night.exercise.title %>' data-directions='<%= @routine_night.exercise.directions %>' data-repetition='<%= @routine_night.repetition %>'
                        data-sound="<%= image_url(exercise_asset_path) %>">
                    <div class="routine-header">
                      <h2> NIGHT </h2>
                      <div class="play-btn-page-div">
                        <% exercise_asset_path = "sounds/#{@routine_night.exercise.title.downcase.split().join('-')}-#{@routine_morning.repetition}.wav" %>
                        <div class="page__play-btn" data-sound="<%= image_url(exercise_asset_path) %>">
                          <i class='fas fa-play-circle'></i>
                        </div>
                      </div>
                    </div>
                    <div class="routine-infos">
                      <p><%= @routine_night.exercise.title %></p>
                      <p><%= @routine_night.repetition %> rep</p>
                    </div>
                </div>


            </div>
          <% end %>

        </div>

      </div>

    </div>

    <div id="Blinking Exercises" class="tabcontent tabcontent-blink">

      <div class="desktop-exercises-grid">

        <% @exercises.each do |exercise| %>

          <div class="card-blink">

            <div class="card-blink-content exercise">


              <div class="card-blink-play-part">
                <div class="play-btn-page-div" id='<%= exercise.id %>'>
                  <% exercise_asset_path = "sounds/#{exercise.title.downcase.split().join('-')}-1.wav" %>
                  <div class="page__play-btn" data-sound="<%= asset_url(exercise_asset_path) %>">
                    <i class='fas fa-play-circle'></i>
                  </div>
                </div>
              </div>

              <div class="card-blink-infos exercise">
                <h2><%= exercise.title %></h2>
                <p><%= exercise.summary %></p>
              </div>

            </div>

          </div>

        <% end %>

      </div>


    </div>

    <div id="Resources" class="tabcontent tabcontent-blink">
      <h3>Resources</h3>
      <p></p>
    </div>

    <div id="Settings" class="tabcontent tabcontent-blink">
      <h3>Settings</h3>
      <p></p>
    </div>

  </div>

</div>


<%= javascript_include_tag 'dashboard_on_desktop' %>

<%= javascript_pack_tag 'dashboard_on_desktop' %>
