<div class="background_desktop" style="background-image: url(<%= image_url 'backgrounds/desktopback.svg' %>)">
    <div class="blink_header_desktop">
      <h1>BLINK <%= image_tag("logo-blink.svg", height:"33.6", width:"102.19", alt:"vector") %></h1>
    </div>

    <div class="motto_desktop">
      <h3>Show your eyes <br> some love</h3>
    </div>

  <div class="desktop_header_links">

      <div class="title-underlined mr-4">
        <%= link_to "SIGN UP", new_user_registration_path, class: "title" %>
      </div>

      <div class="title-underlined">
        <%= link_to "LOGIN", new_user_session_path, class: "title" %>
      </div>

  </div>


<%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs container" id="SignupFormDesktop">
    <%= f.input :first_name,
            label: false,
            required: true,
            placeholder: 'FIRST NAME' %>
    <%= f.input :city,
                input_html: { id:"city-input", placeholder: 'CITY' },
                label: false,
                required: true %>
    <%= f.input :email,
                label: false,
                required: true,
                input_html: { autocomplete: "email", placeholder: 'EMAIL' } %>
    <%= f.input :password,
                label: false,
                required: true,
                hint: ("#{@minimum_password_length} characters minimum" if @minimum_password_length),
                input_html: { autocomplete: "new-password", placeholder: 'PASSWORD' } %>
    <%= f.input :password_confirmation,
                label: false,
                required: true,
                input_html: { autocomplete: "new-password", placeholder: "CONFIRM PASSWORD" } %>
  </div>
    <br><br>
<div class="text-center" style="margin: -25% 0 25% 0">
  <div class="form-actions desk-button button btn btn-outline-success mb-5 text-center">
    <%= f.button :submit, "SIGN UP", class: "orange-text" %>
  </div>
</div>
<% end %>
