<div class="background_desktop" style="background-image: url(<%= image_url 'backgrounds/desktopback.svg' %>)">

  <div class="desktop_header_links">

    <div class="title-underlined">
      <%= link_to "LOGIN", new_user_session_path, class: "title" %>
    </div>

  </div>

  <div class="blink_header_desktop">
    <h1> <%= link_to root_path, class: "no-decoration" do %> BLINK <% end %><%= image_tag("logo-blink.svg", height:"33.6", width:"102.19", alt:"vector") %></h1>
  </div>

  <div class="motto_desktop">
    <h2>Show your eyes <br> some love</h2>
  </div>

<%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs container" id="SignupFormDesktop">
    <%= f.input :first_name,
            label: false,
            required: true,
            placeholder: 'FIRST NAME' %>
    <%= f.input :city,
                input_html: { id:"city-input", placeholder: 'CITY' },
                label: false,
                required: true %>
    <%= f.input :email,
                label: false,
                required: true,
                input_html: { autocomplete: "email", placeholder: 'EMAIL' } %>
    <%= f.input :password,
                label: false,
                required: true,
                hint: ("#{@minimum_password_length} characters minimum" if @minimum_password_length),
                input_html: { autocomplete: "new-password", placeholder: 'PASSWORD' } %>
    <%= f.input :password_confirmation,
                label: false,
                required: true,
                input_html: { autocomplete: "new-password", placeholder: "CONFIRM PASSWORD" } %>
  </div>
    <br><br>
<div class="text-center">
  <div class="form-actions desk-button button btn btn-outline-success mb-5 text-center">
    <%= f.button :submit, "SIGN UP", class: "orange-text" %>
  </div>
</div>
<% end %>
