<div style="width: 100vw; height: 100vh; background-image: url(<%= asset_url 'backgrounds/navbarpagesbacks.svg' %>)">

  <div class="container">

    <%= render 'shared/banner_mobile' %>

    <div class="title-underlined">
      <h2 class="title"><%= Date.today.strftime("%a %B %e").upcase %></h2>
    </div>

    <div class="d-flex justify-content-center">

      <div id="board" data-city="<%= current_user.city %>">

        <div class="board-top">

          <div class="board-section top-left">
            <div class="board-content temperature">
              <div id="weather-temperature"></div>
              <div id="weather-degrees">°C</div>
            </div>
            <div class="board-label">
              TEMPERATURE
            </div>
          </div>

          <div class="board-section top-right">
            <div class="board-content">
              <img id="weather-icon">
            </div>
            <div class="board-label">
              <div id="weather-description"></div>
            </div>
          </div>

        </div>

        <div class="board-bottom">

          <div class="board-section bottom-left">
            <div class="board-content">
              <%= image_tag (asset_url('vectors/computer')), id:"computer-icon" %>
              <div class="computer-time">
                <% if @computer_time %>

                  <% nb_hrs = (@computer_time.minutes / 60).floor %>
                  <% nb_min = @computer_time.minutes % 60 %>
                  <p>
                    <span id="computer-time-hrs"><%= "#{nb_hrs}h" unless (nb_hrs.zero? && !nb_min.zero?) %></span><span id="computer-time-min"><%= "0" if (nb_min<10 && !nb_hrs.zero?) %><%= nb_min unless (nb_hrs.zero? && nb_min.zero?)%><%= "min" if (nb_hrs.zero? && !nb_min.zero?) %></span>
                  </p>

                <% else %>
                  <p>Unavailable.</p>
                <% end %>
              </div>
            </div>
            <div class="board-label">
              COMPUTER TIME
            </div>
          </div>

          <div class="board-section humidity bottom-right">
            <div class="board-content humidity">
              <div id="weather-humidity"></div>
              <%= image_tag (asset_url('vectors/humidity')) %>
            </div>
            <div class="board-label">
              HUMIDITY
            </div>
          </div>

        </div>

      </div>

    </div>


    <div class="title-underlined">
      <h2 class="title">TODAY'S ROUTINE</h2>
    </div>

    <div class="routines">

      <div class="routine-morning">

        <h3>Your morning routine</h3>

        <% if @routine_morning %>

          <p><%= @routine_morning.exercise.title %> </p>
          <p id="completed-morning"><%= @routine_morning.completed ? "Completed" : "Not completed yet" %></p>

          <% exercise_asset_path = "sounds/#{@routine_morning.exercise.title.downcase.split().join('-')}-#{@routine_morning.repetition}.wav" %>
          <button type="button" class="btn btn-primary open-btn-modal-routine morning" data-toggle="modal" data-target="#exampleModal"
                  data-title='<%= @routine_morning.exercise.title %>' data-directions='<%= @routine_morning.exercise.directions %>' data-repetition='<%= @routine_morning.repetition %>'
                  data-sound="<%= asset_url(exercise_asset_path) %>">
            Open
          </button>

        <% else %>
          <p>No routine, sorry!</p>
        <% end %>

      </div>


      <div class="routine-nigth">

        <h3>Your night routine</h3>

        <% if @routine_night %>
          <p><%= @routine_night.exercise.title %> - <%= @routine_night.completed ? "Completed" : "Not completed yet" %></p>
          <p id="completed-night"><%= @routine_night.completed ? "Completed" : "Not completed yet" %></p>

          <% exercise_asset_path = "sounds/#{@routine_night.exercise.title.downcase.split().join('-')}-#{@routine_night.repetition}.wav" %>
          <button type="button" class="btn btn-primary open-btn-modal-routine night" data-toggle="modal" data-target="#exampleModal"
                  data-title='<%= @routine_night.exercise.title %>' data-directions='<%= @routine_night.exercise.directions %>' data-repetition='<%= @routine_night.repetition %>'
                  data-sound="<%= asset_url(exercise_asset_path) %>">
            Open
          </button>

        <% else %>
          <p>No routine, sorry!</p>
        <% end %>


      </div>


      <div class="modal fade modal-blink exercise" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <h2 id="title-in-modal"></h2>
            <div id="play-btn-modal-div">
              <button class="btn btn-primary btn-lg">
                <i class='far fa-play-circle'></i>
              </button>
            </div>
            <ul id="directions-list-in-modal">
            </ul>
            <p>Nb of repetitions: <span id="repetition"></span> </p>
          </div>
        </div>
      </div>
    </div>


  </div>

  <%= render 'shared/navbar_footer' %>

</div>
