<%= render 'shared/mobilenavbar' %>

<h1>Pages#Dashboard on mobile</h1>
<p>Find me in app/views/pages/mobile_dashboard.html.erb</p>

<h2>Daily Routines!</h2>

<h3>Morning routine</h3>

<% if @routine_morning %>

  <ul>
   <li><%= @routine_morning.exercise.title %></li>
   <li><%= @routine_morning.completed %></li>
   <li><%= @routine_morning.duration %></li>
  </ul>

<% else %>
  <p>No routine, sorry!</p>
<% end %>

<h3>Night routine</h3>

<% if @routine_night %>

  <ul>
    <li><%= @routine_night.exercise.title %></li>
    <li><%= @routine_night.completed %></li>
    <li><%= @routine_night.duration %></li>
  </ul>

<% else %>
  <p>No routine, sorry!</p>
<% end %>

