<div style="width: 100vw; height: 100vh; background-image: url(<%= image_url 'backgrounds/navbarpagesbacks.svg' %>)">

  <div class="container container-blink">

    <%= render 'shared/banner_mobile' %>

    <div class="title-underlined">
      <h2 class="title"><%= Date.today.strftime("%a %B %e").upcase %></h2>
    </div>

    <div class="board-part">

      <div id="board" data-city="<%= current_user.city %>">

        <div class="board-top">

          <div class="board-section top-left">
            <div class="board-content temperature">
              <div id="weather-temperature"></div>
              <div id="weather-degrees">°C</div>
            </div>
            <div class="board-label">
              TEMPERATURE
            </div>
          </div>

          <div class="board-section top-right">
            <div class="board-content">
              <img id="weather-icon">
            </div>
            <div class="board-label">
              <div id="weather-description"></div>
            </div>
          </div>

        </div>

        <div class="board-bottom">

          <div class="board-section bottom-left">
            <div class="board-content">
              <%= image_tag (image_url('vectors/computer')), id:"computer-icon" %>
              <div class="computer-time">
                <% if @computer_time %>

                  <% nb_hrs = (@computer_time.minutes / 60).floor %>
                  <% nb_min = @computer_time.minutes % 60 %>
                  <p>
                    <span id="computer-time-hrs"><%= "#{nb_hrs}h" unless (nb_hrs.zero? && !nb_min.zero?) %></span><span id="computer-time-min"><%= "0" if (nb_min<10 && !nb_hrs.zero?) %><%= nb_min unless (nb_hrs.zero? && nb_min.zero?)%><%= "min" if (nb_hrs.zero? && !nb_min.zero?) %></span>
                  </p>

                <% else %>
                  <p>Oh</p>
                <% end %>
              </div>
            </div>
            <div class="board-label">
              COMPUTER TIME
            </div>
          </div>

          <div class="board-section humidity bottom-right">
            <div class="board-content humidity">
              <div id="weather-humidity"></div>
              <%= image_tag (image_url('vectors/humidity')) %>
            </div>
            <div class="board-label">
              HUMIDITY
            </div>
          </div>

        </div>

      </div>

    </div>


    <div class="title-underlined">
      <h2 class="title">TODAY'S ROUTINE</h2>
    </div>

    <div class="routines">

      <% if @routine_morning %>

        <div class="routine">
            <div id="completed-morning">
              <%= image_tag (image_url("vectors/completed#{"_not" unless @routine_morning.completed}")) %>
            </div>

            <% exercise_asset_path = "sounds/#{@routine_morning.exercise.title.downcase.split().join('-')}-#{@routine_morning.repetition}.wav" %>

            <div type="button" class="card-blink card-routine open-btn-modal-routine morning" data-toggle="modal" data-target="#exampleModal"
                    data-title='<%= @routine_morning.exercise.title %>' data-directions='<%= @routine_morning.exercise.directions %>' data-repetition='<%= @routine_morning.repetition %>'
                    data-sound="<%= image_url(exercise_asset_path) %>">
                <h2> MORNING </h2>
                <div class="routine-infos">
                  <p><%= @routine_morning.exercise.title %></p>
                  <p><%= @routine_morning.repetition %> rep</p>
                </div>
            </div>


        </div>
      <% end %>


      <% if @routine_night %>

        <div class="routine">
            <div id="completed-night">
              <%= image_tag (image_url("vectors/completed#{"_not" unless @routine_night.completed}")) %>
            </div>

            <% exercise_asset_path = "sounds/#{@routine_night.exercise.title.downcase.split().join('-')}-1.wav" %>

            <div type="button" class="card-blink card-routine open-btn-modal-routine night" data-toggle="modal" data-target="#exampleModal"
                    data-title='<%= @routine_night.exercise.title %>' data-directions='<%= @routine_night.exercise.directions %>' data-repetition='<%= @routine_night.repetition %>'
                    data-sound="<%= image_url(exercise_asset_path) %>">
                <h2> NIGHT </h2>
                <div class="routine-infos">
                  <p><%= @routine_night.exercise.title %></p>
                  <p><%= @routine_night.repetition %> rep</p>
                </div>
            </div>

        </div>
      <% end %>


      <div class="modal fade modal-blink exercise" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="exercise">
              <div id="play-btn-modal-div">
                <div class="play-btn">
                  <i class='far fa-play-circle'></i>
                </div>
              </div>
              <div class="right-content">
                <h2 id="title-in-modal"></h2>
                <ul id="directions-list-in-modal">
                </ul>
                <p class="repetitions">Repeat <span id="repetition"></span> times.</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>


  </div>

  <%= render 'shared/footer' %>

</div>
