<%= render 'shared/banner_mobile' %>


<h2>Daily Routines!</h2>

<div class="routine-morning">

  <h3>Morning routine</h3>

  <% if @routine_morning %>

    <ul>
      <li><%= @routine_morning.exercise.title %></li>
      <li><%= @routine_morning.completed %></li>
      <li><%= @routine_morning.duration %></li>
    </ul>
    <div id="completed-morning"><%= @routine_morning.completed %></div>
    <button type="button" class="btn btn-primary open-btn-modal-routine" data-toggle="modal" data-target="#exampleModal"
            data-title='<%= @routine_morning.exercise.title %>' data-directions='<%= @routine_morning.exercise.directions %>' data-duration='<%= @routine_morning.duration %>'
            data-sound="<%= asset_url('sounds/exercise1.wav') %>">
      Open
    </button>

  <% else %>
    <p>No routine, sorry!</p>
  <% end %>

</div>


<div class="routine-nigth">

  <h3>Night routine</h3>

  <% if @routine_night %>

    <ul>
      <li><%= @routine_night.exercise.title %></li>
      <li><%= @routine_night.completed %></li>
      <li><%= @routine_night.duration %></li>
    </ul>
    <div id="completed-night"><%= @routine_night.completed %></div>

    <button type="button" class="btn btn-primary open-btn-modal-routine" data-toggle="modal" data-target="#exampleModal"
            data-title='<%= @routine_night.exercise.title %>' data-directions='<%= @routine_night.exercise.directions %>' data-duration='<%= @routine_night.duration %>'
            data-sound="<%= asset_url('sounds/exercise1.wav') %>">
      Open
    </button>

  <% else %>
    <p>No routine, sorry!</p>
  <% end %>


</div>

<%= render 'shared/navbar_footer' %>

<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <h2 id="title-in-modal"></h2>
      <div id="play-btn-modal-div">
        <button class="btn btn-primary btn-lg">
          Play
        </button>
      </div>
      <ul id="directions-list-in-modal">
      </ul>
    </div>
  </div>
</div>
