<div style="width: 100vw; height: 100vh; background-image: url(<%= asset_url 'backgrounds/navbarpagesbacks.svg' %>)">

  <div class="container">

    <%= render 'shared/banner_mobile' %>

    <div class="title-underlined">
      <h2 class="title">EXERCISES</h2>
    </div>

      <% @exercises.each do |exercise| %>

        <div class="card-blink">

          <div class="card-blink-content exercise">


            <div class="card-blink-play-part">
              <div class="play-btn-page-div" id='<%= exercise.id %>'>
                <% exercise_asset_path = "sounds/#{exercise.title.downcase.split().join('-')}-1.wav" %>
                <div class="page__play-btn" data-sound="<%= asset_url(exercise_asset_path) %>">
                  <i class='fas fa-play-circle'></i>
                </div>
              </div>
            </div>

            <div class="card-blink-infos exercise">
              <h2><%= exercise.title %></h2>
              <p><%= exercise.summary %></p>
            </div>

          </div>


          <div type="button" class="open-btn-modal card-blink-footer" data-toggle="modal" data-target="#exampleModal"
                    data-title='<%= exercise.title %>' data-directions='<%= exercise.directions %>'
                    data-playid = '<%= exercise.id %>' >
              Read instructions
          </div>

        </div>

      <% end %>

    <div class="modal fade modal-blink exercise" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="exercise">
            <div id="play-btn-modal-div"></div>
            <div class="rigth-content">
              <h2 id="title-in-modal"></h2>
              <ul id="directions-list-in-modal">
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>

  </div>

  <%= render 'shared/footer' %>

</div>
