<%= render 'shared/mobilenavbar' %>

<h1>Blinking Exercises</h1>

<ul>
  <% @exercises.each do |exercise| %>
    <li>
      <div class="play-btn-page-div" id='<%= exercise.id %>'>
        <button class="btn btn-primary btn-lg play-btn" data-sound="<%= asset_url('sounds/exercise1.wav') %>">
          Play
        </button>
      </div>
      <h2><%= exercise.title %></h2>
      <p><%= exercise.summary %></p>
      <button type="button" class="btn btn-primary open-btn-modal" data-toggle="modal" data-target="#exampleModal"
              data-title='<%= exercise.title %>' data-directions='<%= exercise.directions %>' data-duration="30"
              data-playid = '<%= exercise.id %>' >
        Read instructions
      </button>
    </li>
  <% end %>
</ul>

<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <h2 id="title-in-modal"></h2>
      <div id="play-btn-modal-div"></div>
      <ul id="directions-list-in-modal">
      </ul>
      <div class='clickable' id="timer"></div>
    </div>
  </div>
</div>
